<md-toolbar color= black> What's your favorite movie?</md-toolbar> 
<!--The content below is only a placeholder and can be replaced.-->
<div class = "wrapper">
    
    <div class = "container">
        <div id="left-col">
            <h3> Movies I Love</h3>
            
            <!--searchbar to search for movie titles-->
                   <md-form-field class = "example-full-width"> Search for Movie
                      <input [(ngModel)]="title" mdInput placeholder="" 
                       (keyup.enter)="search(title)"> 
                    </md-form-field>
                    
            <!--display search results -->
             <div *ngIf = "searchResults.length > 0">
                    <md-card id = "result-card" *ngFor = 'let title of searchResults' (click)= addFav(title)> 
                        {{Data.results[0].title}} <br> 
                    </md-card>
            </div>
            <div id ="blank">
            </div>
        <div id = "Fav-link">
            <a href = "#favorites"> Go to Favorites List </a>
        </div>
        </div>
        



    
    <div id="cen-col">
        <h3> Movie Information </h3>
    <!--<md-card id = "movie-card" *ngFor = 'let city of searchResults'> -->
    <!--{{ Data.results[0].title }} <br> -->
    <!--</md-card>-->
    </div>
    

    <div id="movie-sel"> 
        <h3 id = "favorites" >My Favorites!</h3>
            <md-card id = "favMovies" *ngFor = "let title of favList; let i = index">     
                {{i + 1 }}: {{ Data.results[0].title }} <br> 
                <button md-mini-fab id = button (click) = delFav(index);> Del
                </button>
           </md-card>
    </div>
    
</div>
</div>