.container {
  display: flex;
  flex-direction: column; 
  width: 500px;
  background-color: #596f79;
  align-items: center;
  margin: 10 auto;
}

.example-container {
  width: 100%;
}

.btn btn-success{
  background-color: red;
}

#button{
  background-color: red;
}